:root {
  --base-color: 300;
  --color: hsl(var(--base-color), 70%, 30%);
  --color-transparent: hsla(var(--base-color), 100%, 50%, 0.2);
  --accent: hsl(135, 100%, 50%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background: linear-gradient(
    hsl(var(--base-color), 70%, 7%),
    hsl(var(--base-color), 70%, 5%)
  );
  color: #fff;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  accent-color: var(--accent);
  touch-action: none;
}

section#controls {
  margin: 2rem 2rem 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 0.5rem;
  outline: inset 3px var(--color-transparent);
  border-radius: 1rem;
}

fieldset {
  border: solid 3px var(--color);
  border-radius: 0.75rem;
  padding: 1rem;
}

label {
  display: block;
}

section#keyboard {
  margin: 0 2rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  position: relative;

  & keyboard-key {
    height: 20rem;
    width: calc(100% / 9);
    margin: 0 1px;

    &:first-child {
      border-radius: 0.75rem 0 0.75rem 0.75rem;
    }

    &:last-child {
      border-radius: 0 0.75rem 0.75rem 0.75rem;
    }
  }

  & button {
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 0 0 0.75rem 0.75rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
  }
  & button:first-child {
    border: none;
  }
  & button.active,
  & button:active {
    background-color: var(--accent);
    color: #000;
  }
  & .note {
    opacity: 0.5;
    font-weight: 300;
    display: block;
  }
  & .key {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: block;
    text-align: center;
  }
}
