:root {
  --base-color: 300;
  --color: hsl(var(--base-color), 70%, 30%);
  --color-transparent: hsla(var(--base-color), 100%, 50%, 0.2);
  --accent: hsl(135, 100%, 50%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background: linear-gradient(
    hsl(var(--base-color), 70%, 7%),
    hsl(var(--base-color), 70%, 5%)
  );
  color: #fff;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  accent-color: var(--accent);
  touch-action: none;
}

section#controls {
  margin: 2rem 2rem 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 0.5rem;
  outline: inset 3px var(--color-transparent);
  border-radius: 1rem;
}

fieldset {
  border: solid 3px var(--color);
  border-radius: 0.75rem;
  padding: 1rem;
}

label {
  display: block;
}

section#keyboard {
  margin: 0 2rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  position: relative;

  & button {
    height: 20rem;
    width: calc(100% / 7);
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 0 0 0.75rem 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin: 0 1px;

    &.black {
      background-color: #000;
      color: #fff;
      position: absolute;
      top: 0;
      height: 15rem;
      width: 9%;
    }

    &:first-child {
      border-radius: 0.75rem 0 0.75rem 0.75rem;
    }

    &:last-child {
      border-radius: 0 0.75rem 0.75rem 0.75rem;
    }
  }
  & button:first-child {
    border: none;
  }
  & button.active,
  & button:active {
    background-color: var(--accent);
    color: #000;
  }

  #tCsharp4 {
    left: 9.75%;
  }
  #tDsharp4 {
    left: 24%;
  }
  #tFsharp4 {
    left: 52.75%;
  }
  #tGsharp4 {
    left: 67%;
  }
  #tAsharp4 {
    left: 81.5%;
  }
}
