body {
  font-family: monospace;
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 0;
}

section {
  margin: 2rem;
  display: flex;
  flex-flow: row nowrap;
}

button {
  height: 20rem;
  width: 12.5%;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 0 0 0.75rem 0.75rem;
  border: solid 1px #aaa;
  text-transform: uppercase;
  font-weight: 600;
}
button.active,
button:active {
  background-color: #faf;
}
