body {
  font-family: monospace;
  background: linear-gradient(#212, #101);
  color: #fff;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

section#controls {
  padding: 2rem;
}

section#keyboard {
  padding: 0 2rem 2rem;
  display: flex;
  flex-flow: row nowrap;

  & button {
    height: 20rem;
    width: 12.5%;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 0 0 0.75rem 0.75rem;
    border: solid 1px #c6c;
    text-transform: uppercase;
    font-weight: 600;
  }
  & button.active,
  & button:active {
    background-color: #faf;
  }
}
